body {
    background-color: blue;
}

#FL {
    border: 2px solid black;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(14, 58, 178); /* Para contraste */
}

h1 {
    text-align: center;
    color: white;
}

#Enviar {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: brown;
}
#resultado {
    margin-top: 20px;
}
